.about {
  padding: 2rem 6rem;
  margin: auto;
  max-width: 1200px;
}

.about h2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  line-height: 194.52%;
  color: #000000;
  margin-bottom: 12px;
}

.about__details {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  background: #fff8d4;
  border-radius: 40px;
}

.about__row1 img {
  margin-bottom: 24px;
}

.about__row1 p {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 190.5%;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 24px;
}

.about__row2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__row2 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190.5%;
  /* or 30px */

  letter-spacing: 0.01em;

  color: #5c5c5c;
}

.about__row3 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 190.5%;
  /* or 30px */

  letter-spacing: 0.01em;

  color: #5c5c5c;
}

@media screen and (max-width: 1050px) {
  .about__details {
    flex-direction: column;
  }

  .about__row1 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .about__details {
    padding: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .about__details {
    padding: 2rem;
  }
}
